<div class="row">
    <h1 class="text-center display-4 fw-semibold">Pokemon List</h1>
</div>

<div class="row mt-2 mb-2">
    <div class="col-12 col-sm-6">
        <a href="/pokemons/create" class="btn btn-success"><i class="bi bi-plus-square"></i> Add Pokemon</a>
    </div>
</div>

{{#if hasPokemons}}
<div class="row">
    {{#each pokemonsList}}
    <div class="col-12 col-sm-3 mb-5">
        <div class="card">
            <img src="{{this.photo}}" class="card-img-top img-size" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">Name: {{this.name}}</h5>
                <p class="card-text fw-semibold">Region: <span class="fw-normal">{{this.Region.name}}</span></p>
                <p class="card-text fw-semibold">Primary type: <span class="fw-normal">{{this.Type.name}}</span></p>
                <p class="card-text fw-semibold">Secondary type: <span class="fw-normal">{{this.Type.name}}</span></p>
                <div class="mt-2">
                    <a href="/pokemons/edit/{{this.id}}" class="btn btn-primary float-end"><i class="bi bi-pencil-square"></i> Edit</a>
                    <form method="post" action="/pokemons/delete">
                        <input type="hidden" value="{{this.id}}" name="pokemonId">
                        <button type="submit" class="btn btn-danger float-end me-2 delete-pokemon"><i
                                class="bi bi-trash"></i> Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-8 py-5 alert alert-info" role="alert">
        <h2 class="display-5 fw-semibold text-center">You have not registered any pokemons.</h2>
    </div>
</div>
{{/if}}
{{#section 'scripts'}}
    <script src="/assets/js/site/pokemons.js"></script>
{{/section}}